body {
    direction: rtl;
}

@media screen and (min-width: 992px) {
    .navbar-brand {
        margin-right: 30px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-brand {
        margin-right: 16px;
    }
}

.navbar-dark .navbar-toggler {
    border-right: 1px solid white;
    border-left: none;
}

.contact-form .form input, .contact-form .form textarea {
    padding-right: 30px;
}

footer .four-icons{
    text-align: left;
    color: gray;
}

@media screen and (max-width: 576px) {
    footer .four-icons {
        text-align: right;
    }
}